@tailwind base;
@tailwind components;
@tailwind utilities;

/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 8px; /* For horizontal scroll */
}

/* The scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark surface */
}

/* The draggable thumb */
::-webkit-scrollbar-thumb {
  background: #cba6f7; /* Lilac thumb */
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #a37ccf;
}
@font-face {
  font-family: "Hatton";
  src: url("/fonts/PPHatton-Bold.woff"), url("/fonts/PPHatton-Bold.woff2"),
    url("/fonts/PPHatton-Medium.woff"), url("/fonts/PPHatton-Ultralight.woff"),
    url("/fonts/PPHatton-Medium.woff2"), url("/fonts/PPHatton-Ultralight.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
